{% extends 'base.html' %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdn3.devexpress.com/jslib/19.1.3/js/dx.all.js"></script>
<script src="https://unpkg.com/devextreme-aspnet-data@2.2.1/js/dx.aspnet.data.js"></script>




<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Agregar Tweet</h1>
        <p class="lead">Suba su archivo en formato JSON a continuación: </p>
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <div>
                <input type="file" class="form-control-file mb-4 mt-2" id="file" accept="application/json" name="file" multiple>
            </div>
            <div>
                <button  class="btn btn-primary">Agregar</button>
            </div>
        </form>
    </div>

    <div class="container">
        <h1 class="mt-5">Buscador</h1>
        <p class="lead">Ingrese su búsqueda a continuación: </p>
        <form action="javascript:void(0);" method="post">
        <div class="mb-3">
            <input type="text" class="form-control" id="searchString" name="searchString">
            <div id="stringHelp" class="form-text">Ingrese su búsqueda a continuación.</div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <select class="form-control" id="numElement" name="numElement">
                    <option>1</option>
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                </select>
                <div id="x" class="form-text">Seleccione el número de respuestas.</div>
            </div>
        </div>
        <button type="button" onClick="buscar()" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</main>

<script>

    function buscar(){
        var cantidad = $('#numElement').val();
    
        var str = $('#searchString').val();
        var res = str.split(" ");
    
        var message = JSON.stringify({
                "values": res,
                "cantidad": cantidad
            });
    
        $.ajax({
            url:'/consulta',
            type:'POST',
            contentType: 'application/json',
            data : message,
            dataType:'json',
            success: function(response){
                },
            error: function(response){
                if(response['status']==401){
                    }
                 else{
                  }}
        });
    }
    
    </script>


{% endblock %}
